{{! <main class="container container-fluid mt-5">
    <div class="columns">
      <div class="column"></div>
      <!-- Breakfast Column-->
      <div class=" column">
        <div class="breakfast-section">
          <div class="image-card">
            <img src="/assets/images/Eggs.jpeg" alt="Breakfast Plate">
            <h3>Breakfast</h3>
          </div>
        </div>




        <!-- Lunch Column -->
        <div class="lunch-section">
          <div class="image-card">
            <img src="/assets/images/lunch.jpeg" alt="Lunch">
            <h3>Lunch</h3>
          </div>
        </div>
      </div>


      <!-- Dessert Column -->
      <div class="column">
        <div class="dessert-section">
          <div class="image-card">
            <img src="/assets/images/Dessert-pic.jpg" alt="Dessert">
            <h3>Dessert</h3>
          </div>
        </div>



        <!-- Dinner Column -->
        <div class=" dinner-section">
          <div class="image-card">
            <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner">
            <h3>Dinner</h3>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div> }}

<main class="container mt-5">
  <div class="columns is-centered">
    <div class="column is-half">
      <!-- Image 1 (Breakfast) -->
      <div class="card">
        <a href="/api/recipe/meal/Breakfast">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Eggs.jpeg" alt="Breakfast" />
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Breakfast</h3>
            </div>
          </div>
        </a>
      </div>

      <!-- Image 3 (Dessert) -->
      <div class="card">
        <a href="/api/recipe/meal/Dessert">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Dessert-pic.jpg" alt="Dessert" />
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Dessert</h3>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="column is-half">
      <!-- Image 2 (Lunch) -->
      <div class="card">
        <a href="/api/recipe/meal/Lunch">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/lunch.jpeg" alt="Lunch" />
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Lunch</h3>
            </div>
          </div>
        </a>
      </div>

      <!-- Image 4 (Dinner) -->
      <div class="card">
        <a href="/api/recipe/meal/Dinner">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner" />
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Dinner</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

<script src="../views/api/recipesApi.js"></script>