<html>
  <head>
    <title>Lunch Recipes</title>
  </head>
  <body>
    <h1>Lunch Recipes</h1>
    <ul>
      {{#each recipes as |recipe|}}
        <section class="card">
          <a href="/api/recipe/{{this.dataValues.id}}">
            <header>{{this.dataValues.name}}</header>

            <div class="card-body">
              <img
                src="{{this.dataValues.picture}}"
                alt="{{this.dataValues.name}}"
              />
            </div>
          </a>
        </section>
      {{/each}}
    </ul>

  </body>
</html>
<script src="/views/api/recipesApi.js"></script>
