.header {
    color: black;
    background: seagreen;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-link {

    color: black;
    font-size: x-large;
    padding-right: 20px;
}

.login-link {

    color: black;
    font-size: x-large;
    
}

