<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{recipe.picture}}" alt="{{recipe.name}}">
    </div>
  </a>
</section>