<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- UPDATED TITLE --}}
  <title>Matter of Taste</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<style>
  body {
      font-family: 'Young Serif', serif;
      background-image: url('https://images.pexels.com/photos/616484/pexels-photo-616484.jpeg?cs=srgb&dl=pexels-lukas-616484.jpg&fm=jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
 
</style>
</head>

<body>
  <header class="header">
    <h1>
      a Matter of Taste
    </h1>
    <nav>
    <a href="/" class="home-link">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login" class="login-link">Login</a>
    {{/if}}
  </nav>
  </header>

  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
