<!DOCTYPE html>
<html>
<head>
    <title>Dessert Recipes</title>
</head>
<body>
    <h1>Dessert Recipes</h1>
    <ul>
        {{#each recipes}}
            {{> recipe-details}} 
        {{/each}}
    </ul>
</body>
</html>