<main class="container container-fluid mt-5">
    <div class="columns">
      <div class="column"></div>
      <!-- Breakfast Column-->
      <div class=" column">
        <div class="breakfast-section">
          <div class="image-card">
            <img src="/assets/images/Eggs.jpeg" alt="Breakfast Plate">
            <h3>Breakfast</h3>
          </div>
        </div>




        <!-- Lunch Column -->
        <div class="lunch-section">
          <div class="image-card">
            <img src="/assets/images/lunch.jpeg" alt="Lunch">
            <h3>Lunch</h3>
          </div>
        </div>
      </div>


      <!-- Dessert Column -->
      <div class="column">
        <div class="dessert-section">
          <div class="image-card">
            <img src="/assets/images/Dessert-pic.jpg" alt="Dessert">
            <h3>Dessert</h3>
          </div>
        </div>



        <!-- Dinner Column -->
        <div class=" dinner-section">
          <div class="image-card">
            <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner">
            <h3>Dinner</h3>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div>