{{! <main class="container container-fluid mt-5">
    <div class="columns">
      <div class="column"></div>
      <!-- Breakfast Column-->
      <div class=" column">
        <div class="breakfast-section">
          <div class="image-card">
            <img src="/assets/images/Eggs.jpeg" alt="Breakfast Plate">
            <h3>Breakfast</h3>
          </div>
        </div>




        <!-- Lunch Column -->
        <div class="lunch-section">
          <div class="image-card">
            <img src="/assets/images/lunch.jpeg" alt="Lunch">
            <h3>Lunch</h3>
          </div>
        </div>
      </div>


      <!-- Dessert Column -->
      <div class="column">
        <div class="dessert-section">
          <div class="image-card">
            <img src="/assets/images/Dessert-pic.jpg" alt="Dessert">
            <h3>Dessert</h3>
          </div>
        </div>



        <!-- Dinner Column -->
        <div class=" dinner-section">
          <div class="image-card">
            <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner">
            <h3>Dinner</h3>
          </div>
        </div>
      </div>
      <div class="column"></div>
    </div> }}

<main class="container mt-5">
  <div class="columns is-centered">
    <div class="column is-half">
      <!-- Image 1 (Breakfast) -->
      <div class="card">
        <a href="/breakfast-recipes">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Eggs.jpeg" alt="Breakfast">
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Breakfast</h3>
            </div>
          </div>
        </a>
      </div>

      <!-- Image 3 (Dessert) -->
      <div class="card">
        <a href="/dessert-recipes">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Dessert-pic.jpg" alt="Dessert">
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Dessert</h3>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="column is-half">
      <!-- Image 2 (Lunch) -->
      <div class="card">
        <a href="/lunch-recipes">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/lunch.jpeg" alt="Lunch">
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Lunch</h3>
            </div>
          </div>
        </a>
      </div>

      <!-- Image 4 (Dinner) -->
      <div class="card">
        <a href="/dinner-recipes">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner">
            </figure>
          </div>
          <div class="card-content has-background-white">
            <div class="content">
              <h3 class="is-size-4">Dinner</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

<main class="container container-fluid mt-5">
  <div class="columns">
    <div class="column"></div>
    <!-- Breakfast Column-->
    <div class="column">
      <div id="breakfast-section">
        <div class="image-card">
          <a href='/Starter Code/views/breakfast-recipes.handlebars'>
            <!-- Link to the breakfast recipes page -->
            <img src="/assets/images/Eggs.jpeg" alt="Breakfast Plate" />
            <h3>Breakfast</h3>
          </a>
        </div>
      </div>

      <!-- Lunch Column -->
      <div id="lunch-section">
        <div class="image-card">
          <a href="/Starter Code/views/lunch-recipes.handlebars">
            <!-- Link to the lunch recipes page -->
            <img src="/assets/images/lunch.jpeg" alt="Lunch" />
            <h3>Lunch</h3>
          </a>
        </div>
      </div>
    </div>

    <!-- Dessert Column -->
    <div class="column">
      <div id="dessert-section">
        <div class="image-card">
          <a href="/Starter Code/views/dessert-recipes.handlebars">
            <!-- Link to the dessert recipes page -->
            <img src="/assets/images/Dessert-pic.jpg" alt="Dessert" />
            <h3>Dessert</h3>
          </a>
        </div>
      </div>

      <!-- Dinner Column -->
      <div class="dinner-section">
        <div id="image-card">
          <a href="/Starter Code/views/dinner-recipes.handlebars">
            <!-- Link to the dinner recipes page -->
            <img src="/assets/images/Dinner-2-pic.jpg" alt="Dinner" />
            <h3>Dinner</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</main>

<script src="../views/api/recipesApi.js"></script>
