<!DOCTYPE html>
<html>
<head>
    <title>Lunch Recipes</title>
</head>
<body>
    <h1>Lunch Recipes</h1>
    <ul>
        {{#each recipes}}
            {{> recipe-details}} 
        {{/each}}
    </ul>
</body>
</html>

<script src="./views/api/recipesApi.js"></script> 